/* Tags */
.taggr__tags {
    width: 100%;
    padding: 1rem;
    display: block;
}

.taggr__tag {
    padding: .25rem .5rem;
    border-radius: 32px;
    background: #aaaaaa;
    display: inline-block;
    margin-left: .5rem;
}

/* Notice */
.notice {
    transition: box-shadow .25s;
    padding: 24px;
    margin: 0.5rem 0 32px 0;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.notice.type-info {
    background: #ffd54f;
    color: #333333;
}

.notice.type-warning, .notice.type-backend {
    background: #ff6f00;
    color: #333333;
}

.notice.type-danger {
    background: #FF0000;
    color: #FFFFFF;
}

.notice.type-todo {
    background: #909090;
    color: #FFFFFF;
}

.notice.type-tip {
    background: green;
    color: #FFFFFF;
}

.notice .header {
    font-size: 2rem;
    margin: 0;
}

.notice .inline-icon {
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    font-size: 1.6rem;
}

.notice.type-danger,
.notice.type-danger .header,
.notice.type-danger a, .notice.type-todo,
.notice.type-todo .header,
.notice.type-todo a, .notice.type-tip,
.notice.type-tip .header,
.notice.type-tip a {
    color: white;
}

.notice.type-danger a, .notice.type-todo a, .notice.type-tip a {
    text-decoration: underline;
}
